.table {
    display: flex;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 13px;
}
.table-container {
    flex-grow: 3;
    width: 120px;
    padding: 10px;
    margin: 30px;
    background-color: #fff;
    border-radius: 20px;
    overflow-x: auto;
    max-width: 100%;
    gap:25px;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.styled-table th,.styled-table td {
    padding: 14px;
    text-align:center;
    border-bottom: 1px solid #ddd;
}
.styled-table th {
    background-color: #f2f2f2;
    font-weight:normal;
    color:#428bca;
    font-size:13px;
    align-items: center;
    cursor: pointer;
    padding:25px
}
.styled-table td{
    padding:30px;
}
tr:nth-child(even){
    background:#f2f2f2;
}
