:root {
  --text-color:light blue;
  --side-nav-background: black;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.pagination-controls button {
  background-color: #0070AD;
  color: white;
  border: none;
  padding: 10px 12px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px;
  position: sticky;
}
.pagination-controls button:hover {
  background-color: #005f8f;
}
.pagination-controls span {
  font-size: 14px;
}
.actions {
  display: flex;
  gap: 10px;
}
.actions .edit-button,
.actions .view-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.actions .edit-button {
  color:#0070AD;
  font-size: 13px;
}
.actions .view-button {
  color:--text-color;
  font-size:13px
}
.history-button{
  background-color: transparent;
  border:none;
  font-size:14px;
  cursor:pointer;
}

